html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}




body{
  font-family: NeuzeitSLTStd-BookHeavy, sans-serif;
  font-size: 1.8em;
  line-height: 160%;
  color: white;
  background-color: black;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}
a{
  padding: 0;
  margin: 0;
  display: inline-block;
  text-indent: 0;
  text-decoration: none;
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  transition: transform .3s ease;
  color:inherit;
}
a:hover{
  color: rgb(0,0,250);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.main{
  width: 75vw;
  height: 95vh;
  margin: 2.5vh;
  text-align: left;
  z-index: 10;
  position: relative;
}
p {
  text-indent: 10%;
}
.q {
  margin-bottom: 0;
  position: absolute;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.q:hover {
  margin-bottom: 0;
  position: absolute;
  -moz-transform: translateY(-5px) scaleX(-1) !important;
  -o-transform: translateY(-5px) scaleX(-1) !important;
  -webkit-transform: translateY(-5px) scaleX(-1) !important;
  transform: translateY(-5px) scaleX(-1) !important;
  filter: FlipH !important;
  -ms-filter: "FlipH" !important;
}
.info{
  position: absolute;
  bottom: 0;
}
